<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apple</key>
	<dict>
		<key>usethis</key>
		<true/>
		<key>H</key>
		<string>11</string>
		<key>S</key>
		<string>41</string>
		<key>V</key>
		<string>0</string>
	</dict>
	<key>banana</key>
	<dict>
		<key>usethis</key>
		<true/>
		<key>H</key>
		<string>34</string>
		<key>S</key>
		<string>4</string>
		<key>V</key>
		<string>0</string>
	</dict>
	<key>blueberry</key>
	<dict>
		<key>usethis</key>
		<true/>
		<key>H</key>
		<string>24</string>
		<key>S</key>
		<string>180</string>
		<key>V</key>
		<string>0</string>
	</dict>
	<key>cherry</key>
	<dict>
		<key>usethis</key>
		<true/>
		<key>H</key>
		<string>33</string>
		<key>S</key>
		<string>-37</string>
		<key>V</key>
		<string>0</string>
	</dict>
	<key>chocolate</key>
	<dict>
		<key>usethis</key>
		<true/>
		<key>H</key>
		<string>-32</string>
		<key>S</key>
		<string>-10</string>
		<key>V</key>
		<string>0</string>
	</dict>
	<key>lowfate</key>
	<dict>
		<key>usethis</key>
		<false/>
		<key>H</key>
		<string>11</string>
		<key>S</key>
		<string>41</string>
		<key>V</key>
		<string>0</string>
	</dict>
	<key>milk</key>
	<dict>
		<key>usethis</key>
		<false/>
		<key>H</key>
		<string>11</string>
		<key>S</key>
		<string>41</string>
		<key>V</key>
		<string>0</string>
	</dict>
	<key>soy</key>
	<dict>
		<key>usethis</key>
		<false/>
		<key>H</key>
		<string>11</string>
		<key>S</key>
		<string>41</string>
		<key>V</key>
		<string>0</string>
	</dict>
	<key>strawberry</key>
	<dict>
		<key>usethis</key>
		<true/>
		<key>H</key>
		<string>24</string>
		<key>S</key>
		<string>-58</string>
		<key>V</key>
		<string>0</string>
	</dict>
</dict>
</plist>
