<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apple</key>
	<dict>
		<key>pcount</key>
		<string>2</string>
		<key>IsFree</key>
		<false/>
		<key>type</key>
		<string>squirrel</string>
		<key>S</key>
		<string>134</string>
		<key>H</key>
		<string>-31</string>
		<key>V</key>
		<string>-19</string>
	</dict>
	<key>apple crisp</key>
	<dict>
		<key>pcount</key>
		<string>1</string>
		<key>IsFree</key>
		<false/>
		<key>type</key>
		<string>bird</string>
		<key>S</key>
		<string>164</string>
		<key>H</key>
		<string>-11</string>
		<key>V</key>
		<string>-9</string>
	</dict>
	<key>banana nut</key>
	<dict>
		<key>pcount</key>
		<string>1</string>
		<key>IsFree</key>
		<false/>
		<key>type</key>
		<string>rabbit</string>
		<key>S</key>
		<string>84</string>
		<key>H</key>
		<string>-20</string>
		<key>V</key>
		<string>-19</string>
	</dict>
	<key>blueberry</key>
	<dict>
		<key>pcount</key>
		<string>2</string>
		<key>IsFree</key>
		<false/>
		<key>type</key>
		<string>rabbit</string>
		<key>S</key>
		<string>-106	</string>
		<key>H</key>
		<string>-40</string>
		<key>V</key>
		<string>-8</string>
	</dict>
	<key>chocolate puff</key>
	<dict>
		<key>pcount</key>
		<string>1</string>
		<key>IsFree</key>
		<false/>
		<key>type</key>
		<string>rabbit</string>
		<key>S</key>
		<string>-140</string>
		<key>H</key>
		<string>-20</string>
		<key>V</key>
		<string>-23</string>
	</dict>
	<key>cookie crisp</key>
	<dict>
		<key>pcount</key>
		<string>1</string>
		<key>IsFree</key>
		<false/>
		<key>type</key>
		<string>squirrel</string>
		<key>S</key>
		<string>-46</string>
		<key>H</key>
		<string>-28</string>
		<key>V</key>
		<string>-15</string>
	</dict>
	<key>corn flakes</key>
	<dict>
		<key>pcount</key>
		<string>1</string>
		<key>IsFree</key>
		<false/>
		<key>type</key>
		<string>bird</string>
		<key>S</key>
		<string>60</string>
		<key>H</key>
		<string>-4</string>
		<key>V</key>
		<string>-5</string>
	</dict>
	<key>cranberry almond</key>
	<dict>
		<key>pcount</key>
		<string>3</string>
		<key>IsFree</key>
		<false/>
		<key>type</key>
		<string>squirrel</string>
		<key>S</key>
		<string>22</string>
		<key>H</key>
		<string>-9</string>
		<key>V</key>
		<string>-22</string>
	</dict>
	<key>crunchy</key>
	<dict>
		<key>pcount</key>
		<string>1</string>
		<key>IsFree</key>
		<false/>
		<key>type</key>
		<string>squirrel</string>
		<key>S</key>
		<string>6</string>
		<key>H</key>
		<string>-2</string>
		<key>V</key>
		<string>15</string>
	</dict>
	<key>dark chocolate</key>
	<dict>
		<key>pcount</key>
		<string>2</string>
		<key>IsFree</key>
		<false/>
		<key>type</key>
		<string>rabbit</string>
		<key>S</key>
		<string>50</string>
		<key>H</key>
		<string>-2</string>
		<key>V</key>
		<string>-23</string>
	</dict>
	<key>fruit loops</key>
	<dict>
		<key>pcount</key>
		<string>3</string>
		<key>IsFree</key>
		<false/>
		<key>type</key>
		<string>bird</string>
		<key>S</key>
		<string>33</string>
		<key>H</key>
		<string>9</string>
		<key>V</key>
		<string>24</string>
	</dict>
	<key>honey nut</key>
	<dict>
		<key>pcount</key>
		<string>1</string>
		<key>IsFree</key>
		<false/>
		<key>type</key>
		<string>bees</string>
		<key>S</key>
		<string>-52</string>
		<key>H</key>
		<string>-11</string>
		<key>V</key>
		<string>33</string>
	</dict>
	<key>oatmeal</key>
	<dict>
		<key>pcount</key>
		<string>1</string>
		<key>IsFree</key>
		<false/>
		<key>type</key>
		<string>bird</string>
		<key>S</key>
		<string>68</string>
		<key>H</key>
		<string>13</string>
		<key>V</key>
		<string>24</string>
	</dict>
	<key>trixball</key>
	<dict>
		<key>pcount</key>
		<string>3</string>
		<key>IsFree</key>
		<false/>
		<key>type</key>
		<string>bird</string>
		<key>S</key>
		<string>14</string>
		<key>H</key>
		<string>-13</string>
		<key>V</key>
		<string>19</string>
	</dict>
	<key>wheats</key>
	<dict>
		<key>pcount</key>
		<string>2</string>
		<key>IsFree</key>
		<false/>
		<key>type</key>
		<string>rabbit</string>
		<key>S</key>
		<string>56</string>
		<key>H</key>
		<string>-12</string>
		<key>V</key>
		<string>-7</string>
	</dict>
</dict>
</plist>
